AES rx.txt
[{"id":"e9f28cdd.4f7a7","type":"tab","label":"AES Dekripsi RX","disabled":false,"info":""},{"id":"715d9d14.029e64","type":"debug","z":"e9f28cdd.4f7a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"e2792b82.3da3c8","type":"mqtt in","z":"e9f28cdd.4f7a7","name":"","topic":"testing/AES","qos":"2","datatype":"auto","broker":"75fbe4f1.5d297c","nl":false,"rap":true,"rh":0,"x":310,"y":240,"wires":[["a2778458.27a418"]]},{"id":"a2778458.27a418","type":"decrypt","z":"e9f28cdd.4f7a7","name":"AES Decrypt","algorithm":"AES","key":"test","x":510,"y":240,"wires":[["715d9d14.029e64"]]},{"id":"5a208ae8.478f14","type":"function","z":"e9f28cdd.4f7a7","name":"Caesar Decrypt","func":"var s = msg.payload;\nvar k = 2 ;\n  let result = '';\n  \n  for (let i = 0; i < s.length; i++) {\n\n    let charCode = s[i].charCodeAt();\n    // check that charCode is a lowercase letter; automatically ignores non-letters\n    if (charCode > 96 && charCode < 123) {\n      \n      charCode -= k % 26 // makes it work with numbers greater than 26 to maintain correct shift\n      // if shift passes 'z', resets to 'a' to maintain looping shift\n      if (charCode > 122) {\n        charCode = (charCode - 122) + 96;\n      // same as previous, but checking shift doesn't pass 'a' when shifting negative numbers\n      } else if (charCode < 97) {\n        charCode = (charCode - 97) + 123;\n      }\n    }\n\n    if (charCode > 64 && charCode < 91) {\n      \n      charCode -= k % 26\n      \n      if (charCode > 90) {\n        charCode = (charCode - 90) + 64;\n      } else if (charCode < 65) {\n        charCode = (charCode - 65) + 91;\n      }\n    }\n\n    result += String.fromCharCode(charCode);\n    msg.payload = result;\n  }\n  return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":720,"wires":[[]]},{"id":"75fbe4f1.5d297c","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]