AES tx.txt
[{"id":"45700429.05664c","type":"tab","label":"AES Enkripsi TX","disabled":false,"info":""},{"id":"b9ab37c5.962a78","type":"inject","z":"45700429.05664c","name":"Dummy Sensor ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Temperature\":\"29.0\",\"Humidity\":\"80\"}","payloadType":"str","x":210,"y":220,"wires":[["980936a8.95aee8"]]},{"id":"2925b9bc.8ca4b6","type":"function","z":"45700429.05664c","name":"Caesar Encrypt","func":"var s = msg.payload;\nvar k = 2 ;\n  let result = '';\n  \n  for (let i = 0; i < s.length; i++) {\n\n    let charCode = s[i].charCodeAt();\n    // check that charCode is a lowercase letter; automatically ignores non-letters\n    if (charCode > 96 && charCode < 123) {\n      \n      charCode += k % 26 // makes it work with numbers greater than 26 to maintain correct shift\n      // if shift passes 'z', resets to 'a' to maintain looping shift\n      if (charCode > 122) {\n        charCode = (charCode - 122) + 96;\n      // same as previous, but checking shift doesn't pass 'a' when shifting negative numbers\n      } else if (charCode < 97) {\n        charCode = (charCode - 97) + 123;\n      }\n    }\n\n    if (charCode > 64 && charCode < 91) {\n      \n      charCode += k % 26\n      \n      if (charCode > 90) {\n        charCode = (charCode - 90) + 64;\n      } else if (charCode < 65) {\n        charCode = (charCode - 65) + 91;\n      }\n    }\n\n    result += String.fromCharCode(charCode);\n    msg.payload = result;\n  }\n  return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1060,"wires":[[]]},{"id":"f9088da4.f2175","type":"debug","z":"45700429.05664c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"378d5d30.f250e2","type":"mqtt out","z":"45700429.05664c","name":"","topic":"testing/AES","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"75fbe4f1.5d297c","x":630,"y":260,"wires":[]},{"id":"980936a8.95aee8","type":"encrypt","z":"45700429.05664c","name":"AES Encrypt","algorithm":"AES","key":"test","x":410,"y":220,"wires":[["f9088da4.f2175","378d5d30.f250e2"]]},{"id":"75fbe4f1.5d297c","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]